﻿@model IEnumerable<JobBoardAPP.Models.Job>

@{
    ViewBag.Title = "Job List";
}

    

  
        @*@Html.ActionLink("Create New", "Create")*@
        @*<input type="button" value="Create New" onclick="@("window.location.href='" + @Url.Action("Create", "Job") + "'");" class="btn btn-info "/>*@

    <div class="col-md-2" style="padding-bottom: 15px;">
        <h2>Job List</h2>
        <button onclick="@("window.location.href='" + @Url.Action("Create", "Job") + "'");" class="btn btn-info form-control">Create New  <span class="glyphicon glyphicon-floppy-disk"></span></button>
        
    </div>
        
   <br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.jobTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.expiresAt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.jobTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.expiresAt)
        </td>
        <td>
            <button onclick="@("window.location.href='" + @Url.Action("Edit", "Job",new { id = item.jobb }) + "'");" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button>
           
            <button onclick="@("window.location.href='" + @Url.Action("Delete", "Job",new { id = item.jobb }) + "'");" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
           
        </td>
    </tr>
}

</table>
